


/* Inicio estilos de botones  */
.bg-edit{
    background: #33C2C3 !important;
    color: white !important;

}
.bg-edit:hover{
    background: #3d9e9e !important;
    color: white !important;

}
.bg-ver{
    background: #2A88CB !important;
    color: white !important;
}
.bg-ver:hover{
    background: #3d78a2 !important;
    color: white !important;
}

.bg-delete{
    background: #F72454 !important;
    color: white !important;
}
.bg-delete:hover{
    background: #c03152 !important;
    color: white !important;
}

.bg-guardar{
    background: #435db1 !important;
    color: white !important;
}

.bg-guardar:hover{
    background: #3c4d87 !important;
    color: white !important;
}

.bg-establecer{
    background: #25366e !important;
    color: white !important;
}

.bg-establecer:hover{
    background: #222c4e !important;
    color: white !important;
}

.bg-excel{
    background: #27BB00 !important;
    color: white !important;
}

.bg-excel:hover{
    background: #208d01 !important;
    color: white !important;
}



.bg-card-header{
    background: #435db1 !important;
    color: white !important;
}

/* Termino de estilos de botones */


.card-title-text{
    color:  #2d3781 !important;
    font-size: 17px;
}


/* estilos de textos de label formularios */
.text-label{
    color: rgb(35, 90, 145);
    font-size: 15px;
}

/* Imagen de formulario editar */
img.img-proveedor{
    position: relative;
    width: 240px !important;
    height: 210px !important;
    transition: transform .2s;
    display: block;
    border: 1px solid rgb(233, 233, 233);
    z-index: 9999;
}

.img-proveedor:hover {
    transform: scale(1.1);
  }
/* Imagen de formulario editar */

 
/* Estilos de tabla transparente */
.transparente {
    background-color: rgb(249, 249, 249);
    opacity: 0.90;
}
/* Termino de estilos de tabla transparente */


